#header{
		background-color:#1d7070;
		height:80px;
		width:90%;

}
 #con{
	  background-color:#1d7070;
	  min-height:500px;
	  position: relative;
   
    z-index: -1;
 }
 
 #con_inside{
	 	  background-color:#fff;
	     min-height:400px;
		 margin-top:50px;
		 margin-bottom:50px;
		
   

 }
 